
*, *:before, *:after{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

html, body{
  height:100%;
  width:100%;
}

body{
  font:normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color:#fff;
  background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
  background-attachment:fixed;
}

h1{
  font-weight:300;
  font-size:2.5em;
  text-transform:uppercase;
  font-family: Lato;
  line-height:1.6em;
  letter-spacing:.1em;
}

a, a:visited{
  text-decoration:none;
  color:white;
  opacity:.7;
  &:hover{
    opacity:1
  }
  &.icon{
    margin-right:2px;
    padding:3px;
  }
}

.description{
  padding:30px;
  position:absolute;
  top:0;
  left:0;
  width:25%;
  z-index:999;
  p{
    font-size:.9em;
    & + p{
      margin-top:20px;
    }
    &.author{
      font-size:.7em;
      .fa-heart{
        color:#860014;
      }
    }
  }
}

hr{
  margin:26px 0;
  border:0;
  border-top:1px solid white;
  background:transparent;
  width:25%;
  opacity:.1;
}

code{
  color: #ae94c0;
  font-family:Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size:.9em;
}
